/* 
COLORS:
d.brown: #5E392A
l.brown: #915C43
d.blue: #117485
l.blue: #83C8CD
*/

/* General Styles */
body {
	font-family: 'Slabo 27px', serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

h1, h2 {
	font-family: 'Satisfy', cursive;
}

h2 {
	font-size: 2.5em;
	color: #117485;
}

/* Navigation */
nav ul {
	list-style: none;
}

nav a {
	color: #5E392A;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	display: block;
	float: right;
	padding: 30px 30px;
}

/* Header */
.header {
	background-image: url('../img/wine.jpg');
	background-size: cover;
	background-position: center;
	margin-top: -50px;
	width: 100%;
	height: 800px;
}

.header h1 {
	color: #83C8CD;
	font-size: 4em;
	text-align: left;
	padding: 300px 0 0 150px;
	text-shadow: 1px 1px 2px #117485;
}

#slogan {
	background-color: #117485;
	height: 150px;
	width: 100%;
	margin-top: -30px;
}

#slogan h4 {
	color: #83C8CD;
	font-size: 1.3em;
	text-align: center;
	padding: 60px 0;
}

/* All Sections - Add later on! */ 
/*.section {
	width: 80%;
	margin: 0 auto;
	padding: 40px 0 80px;
}

.top-border {
	border-top: solid 7px #83C8CD;
}

.bottom-border {
	border-bottom: solid 7px #915C43;
}*/

/* About Section */
#about {
	width: 80%;
	margin: 0 auto;
	padding: 40px 0 80px;
	border-bottom: solid 7px #915C43;
}

#about p {
	width: 80%;
	margin: 0 auto;
	line-height: 1.5em;
}

/* Sponsors Section */
#sponsors {
	width: 80%;
	margin: 0 auto;
	padding: 40px 0 80px;
	border-bottom: solid 7px #915C43;
	border-top: solid 7px #83C8CD;
}

#sponsors .column {
	display: inline-block;
	width: 30%;
	margin: 1.5%;
}

#sponsors img {
	max-width: 180px;
}

#sponsors a {
	text-decoration: none;
	color: #83C8CD;
	font-size: 1.25em;
	font-weight: bold;
}

/* Contact Section */
#contact {
	width: 80%;
	margin: 0 auto;
	padding: 40px 0 80px;
	border-top: solid 7px #83C8CD;
}

#contact ul {
	list-style: none;
	padding: 0;
}

#contact li {
	display: inline-block;
	margin: 10px 15px 0;
}

#contact img {
	max-width: 75px;
}


/* Footer */
footer {
	width: 100%;
	background-color: #117485;
	height: 50px;
}

footer p {
	text-align: left;
	color: #83C8CD;
	padding: 15px 0 0 25px;
}


/* Media Queries - if time! */






































































































